.contents
  .contents_header
    /Current_user_name, edit and setting functions shown here
    .contents_header--left
      %h1.current_user_name
        = current_user.name
        = link_to "/users/:id/edit" do
          %i.fa.fa-cog
        = link_to "/groups/new" do
          %i.fa.fa-edit
      /current group name and members shown
    .contents_header--body
      %h1.current_group_name Group_name--a
      %p.group-members member-a, member-b
      .edit-button
        = link_to "" do
          .edit Edit


  .contents_main
    /registered groups shown
    .contents_main--left
      %ul.all-groups
        %li.registered-group
        - current_user.groups.each do |group|
          = link_to group_messages_path(group) do
            .group-name
              = group.name
          .group-message メッセージはまだありません
        -# %li.registered-group
        -#   %h2.group-name Group_name--b
        -#   %p.group-message latest message here
    / chat in a selected group shown
    .contents_main--body
      %ul.chat-history
        %li.chat-each
          member-a
          %span.posteddate posted date
          %p.message message-1
        %li.chat-each
          member-b
          %span.posteddate posted date
          %p.message message-2
        %li.chat-each
          member-a
          %span.posteddate posted date
          %p.message message-3
      / put your message here
      .contents_main--body--footer
        .message-box
          %p.new-message
            type your message here
            %input#upfile{:accept => "image/*", :name => "upfile", :style => "display:none", :type => "file"}/
            %i.fa.fa-image{:onclick => "$('#upfile').click()"}
        .send-button Send
