.contents
  .contents_header
    .contents_header--left
      %h1.current_user_name
        = current_user.name
        = link_to edit_user_path(current_user.id) do
          %i.fa.fa-cog
        = link_to "/groups/new" do
          %i.fa.fa-edit
    .contents_header--body
      %h1.current_group_name
        = @group.name
      %p.group-members
        - @group.users.each do |user|
          = user.name
      .edit-button
        = link_to edit_group_path(@group) do
          .edit Edit
  .contents_main
    .contents_main--left
      %ul.all-groups
        %li.registered-group
        - current_user.groups.each do |group|
          = link_to group_messages_path(group) do
            .group-name
              = group.name
          .group-message
            = group.show_last_message
    .contents_main--body
      = render @messages
    .contents_main--body--footer
      = form_for [@group, @message], html: {id: "send_message"} do |f|
        = f.text_field :content, class: 'form__message', placeholder: '  type your message here'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            %i.fa.fa-image
            = f.hidden_field :user_id, value: current_user.id
            = f.file_field :image, class: 'hidden'
            = f.submit 'Send', id: 'send-button'
