.contents
  .contents_header
    /Current_user_name, edit and setting functions shown here
    .contents_header--left
      %h1.current_user_name
        = current_user.name
        = link_to edit_user_path(current_user.id) do
          %i.fa.fa-cog
        = link_to "/groups/new" do
          %i.fa.fa-edit
      /current group name and members shown
    .contents_header--body
      -if @groups.present?
        %h1.current_group_name Top page - select a group on left
      -else
        %h1.current_group_name Create a chat group from logo
  .contents_main
    /registered groups shown
    .contents_main--left
      %ul.all-groups
        %li.registered-group
        - current_user.groups.each do |group|
          = link_to group_messages_path(group) do
            .group-name
              = group.name
          .group-message
            = group.show_last_message
